<div class="d-flex flex-column align-items-center justify-content-center text-center" style="margin-top: 60px; margin-bottom: 10px;">   
  <h1 class="mb-3">ForecastNow</h1>
  <%= image_tag('weather_img.png', alt: 'Weather Image', class: 'w-50 mx-auto') %>
</div>
