.custom-light-blue-bg {
    background-color: #eee7fa; /* Hex code for a pale yellow color */
  }

  .custom-bg-light {
    background-color: #ccaaf8; /* Hex code for a pale yellow color */
  }
.custom-card {
margin-top: 60px; 
}